<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/13.1/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         requireCoverageMetadata="true"
         failOnNotice="true"
         failOnDeprecation="true"
         failOnWarning="true">

    <testsuites>
        <testsuite name="unit test">
            <directory>test/unit</directory>
        </testsuite>
        <testsuite name="integration test">
            <directory>test/integration</directory>
        </testsuite>
    </testsuites>
    <extensions>
        <bootstrap class="WebwareTestIntegration\PhpDb\Extension\ListenerExtension"/>
    </extensions>
    <php>
        <env name="TESTS_PHPDB_ADAPTER_MYSQL" value="true"/>
        <env name="TESTS_PHPDB_ADAPTER_MYSQL_HOSTNAME" value="127.0.0.1"/>
        <env name="TESTS_PHPDB_ADAPTER_MYSQL_PORT" value="3306"/>
        <env name="TESTS_PHPDB_ADAPTER_MYSQL_DATABASE" value="webware"/>
        <env name="TESTS_PHPDB_ADAPTER_MYSQL_USERNAME" value="root"/>
        <env name="TESTS_PHPDB_ADAPTER_MYSQL_PASSWORD" value=""/>

        <env name="TESTS_PHPDB_ADAPTER_PGSQL" value="true"/>
        <env name="TESTS_PHPDB_ADAPTER_PGSQL_HOSTNAME" value="pgsql"/>
        <env name="TESTS_PHPDB_ADAPTER_PGSQL_PORT" value="5432"/>
        <env name="TESTS_PHPDB_ADAPTER_PGSQL_DATABASE" value="webware"/>
        <env name="TESTS_PHPDB_ADAPTER_PGSQL_USERNAME" value="postgres"/>
        <env name="TESTS_PHPDB_ADAPTER_PGSQL_PASSWORD" value="postgres"/>

        <env name="TESTS_PHPDB_ADAPTER_SQLITE" value="true"/>
        <env name="TESTS_PHPDB_ADAPTER_SQLITE_DSN" value="sqlite:/tmp/webware-phpdb.sqlite"/>
    </php>
    <source restrictNotices="true" ignoreIndirectDeprecations="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>
